header nav img {
  width: 115px;
  height: 115px;
}

header,
footer {
  text-align: center;
}

footer {
  background-color: #ffffff10;
}

.proyectos {
  padding: 40px 20px;
  text-align: center;
  color: #0D0D0D;
}

.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 15px;
  margin: auto;
  max-width: 1100px;

  h3 {
    display: grid;
    place-items: center;
  }
}

.proyecto-tarjeta {
  background: #ffffff10;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #ffffff20;

  &:hover {
    transform: translateY(-8px);
    transition: 1s;
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  a {
    width: 90%;
    margin: 0.5rem;
  }
}